name: Build Interceptor Executable

on:
  push:
    branches:
      - main
    paths:
      - 'interceptor/**'

jobs:
    build:
        runs-on: windows-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v6

        - name: Set up Python
          uses: actions/setup-python@v6
          with:
            python-version: '3.11'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r interceptor/requirements.txt

        - name: Build executable with PyInstaller
          run: |
            pyinstaller --onefile --name Interceptor interceptor/main.py

        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: Interceptor
            path: dist/Interceptor.exe